.contact-page {
    padding: 40px;
    text-align: center;
    padding-bottom: 120px;
  }
  
  .contact-page h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .contact-page p {
    margin-bottom: 30px;
    font-size: 16px;
  }
  
  .contact-methods {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .contact-card {
    background-color: rgb(170, 175, 169);
    padding: 12px 40px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid darkgrey;
    box-shadow: inset 3px 5px 4px black;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .contact-detail {
    display: none;
  }
  
  .contact-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px black ;
  }
  
  .contact-icon {
    font-size: 2rem;
    margin-bottom: 10px;
    color: white;
  }

  .contact-icon.google {
    color: #DB4437; /* Google red */
  }
  
  .contact-icon.whatsapp {
    color: #25D366; /* WhatsApp green */
  }
  
  .contact-icon.github {
    color: #181717; /* GitHub black */
  }
  
  .contact-icon.phone {
    color: #007AFF; /* iOS style blue for phone */
  }
  

  /* Dark mode styles for contact */
body.dark-mode .contact-page {
  background-color: #1e1e1e; /* Dark background */
  color: #ffffff; /* Light text */
}

body.dark-mode .contact-card {
  background-color: #333; /* Dark background for contact cards */
  color: #ffffff; /* Light text for contact cards */
  border-color: #555; /* Darker border */
}

body.dark-mode .contact-card:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3); /* Subtle glow on hover */
}