.profile-page {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(170, 175, 169);
    border-radius: 10px;
    margin-top: 70px;
  }
  
  .profile-header h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .profile-content p {
    line-height: 1.6;
    margin-bottom: 15px;
    font-size: 16px;
  }

  .contact-button-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .contact-button {
    display: inline-block;
    padding: 15px 30px;
    background: green;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    text-decoration: none;
  }
  
  .contact-button:hover {
    background: rgb(12, 196, 12);
  }

  /* Dark mode styles for profile */
body.dark-mode .profile-page {
  background-color: #1e1e1e; /* Dark background */
  color: #ffffff; /* Light text */
}

body.dark-mode .profile-header h1 {
  color: #ffffff; /* Light text for header */
}

body.dark-mode .profile-content p {
  color: #cccccc; /* Light text for paragraphs */
}
