/* Projects container */
.projects-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: black;
    background-color: rgb(170, 175, 169);
    border-radius: 10px;
}

/* Projects header */
.projects-header h1 {
    font-size: 2rem;
    text-align: center; /* Ensure header text is centered */
}

/* Projects paragraph */
.projects-content p {
    padding: 10px;
    text-align: center; /* Center-align paragraph text */
}

/* Dark mode styles for projects */
body.dark-mode .projects-container {
    background-color: #1e1e1e; /* Dark background */
    color: #ffffff; /* Light text */
}

body.dark-mode .projects-header h1 {
    color: #ffffff; /* Light text for header */
}

body.dark-mode .projects-container p {
    color: #cccccc; /* Light text for paragraphs */
}