html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(107, 126, 51); /* black background */
    color: white;            /* optional: makes text readable */
  }
    body {
        font-family: Arial, sans-serif;
        padding-bottom: 120px;  
    }